<div class='string-for-update'>
  <input
    type='text'
    class='fio'
    id='fio'
    placeholder='Иванов В.В.'
    value='{{dataForUpdateString.name}}'
  />
  <input
    type='text'
    class='number'
    id='number'
    placeholder='Телефон'
    value='{{dataForUpdateString.number}}'
  />
  <input type='hidden' id='id' value='{{dataForUpdateString.id}}' />
</div>
<div class='buttons'>
  <button
    class='add-add-button add-button'
    onclick='postDataByUpdate()'
  >Изменить</button>
  <button
    class='add-decline-button add-button'
    onclick='postDataByDelete()'
  >Удалить</button>
  <button
    class='add-decline-button add-button'
    onclick='{{declineAction}}'
  >Отказаться</button>
</div>